* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10vh 5vw 5vw;
}

h1, h2 {
    font-weight: 600;
}

img.portrait {
    height: 100px;
}

img#scroll-arrow {
    width: 200px;
}

.btn.btn-custom, .btn.btn-custom:hover {
    background-color: rgb(255, 246, 224);
    border-color: orange;
    color: orange;
    font-weight: 600;
}

.btn.btn-custom.active, .btn.btn-custom.active:hover {
    background-color: rgb(246, 212, 217);
    border-color: rgb(255, 117, 182);
    color: rgb(255, 117, 182);
    font-weight: 600;
}

.btn.btn-custom.disabled {
    background-color: #C1B5AA;
    border-color: #7A7067;
    color: #7A7067;
}

.stat-box {
    width: calc(8 * 15px + 7 * 3px + 0.75rem);
    height: calc(15 * 15px + 14 * 3px + 0.75rem);
    gap: 3px;
}
/* 
.stat-box:hover .cell:not(:hover) {
    background-color: #e8e1db;
    outline: #e8e1db;
} */

.stat-message {
    width: 300px;
}

.cell {
    height: 15px;
    width: 15px;
    border-radius: 1px;
    flex-shrink: 0;
    /* border: 1px solid white; */
}

.ts {
    font-size: 0.8rem;
}

.cell.unknown {
    background-color: #7A7067;
    outline-color: #7A7067;
}
.cell.known {
    background-color: #D44127;
    outline-color: #D44127;
}
.cell.bt-false {
    background-color: #EAAA5C;
    outline-color: #EAAA5C;
}
.cell.bt-composer {
    background-color: #2D5D8B;
    outline-color: #2D5D8B;
}
.cell.bt-title {
    background-color: #A3C3E1;
    outline-color: #A3C3E1;
}
.cell.bt-both {
    background-color: #A1B441;
    outline-color: #A1B441;
}

.cell.empty {
    background-color: #e8e1db;
    outline: #e8e1db;
}

.cell.faded {
    filter: opacity(40%) saturate(60%) sepia(30%);

}

.highlight {
    /* border-radius: 0; */
    border: 1px solid white;
    outline-width: 2px;
    outline-style: solid;
}

.highlight::after {
    content: "●";
    color: white;
    font-size: 12px;
    position: relative;
    left: 3px;
    top: -8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

title-info {
    @media (max-width: 596px) {
        width: 110%;
    }
}

stat-display > div {
    @media (max-width: 900px) {
        flex-direction: column;
    }
}

title-info > button {
    @media (max-width: 900px) {
        margin-top: 15px;
        margin-left: 35%;
    }
}

intro-page, blindtest-page, results-page, chronology-page {
    z-index: 1;
}

.btn.btn-nav {
    position: relative;
    bottom: 32px;
    font-weight: 600;
    color: #9EC5FE;
    padding-bottom: 2px;
    box-shadow: 0 -5px 10px -10px rgba(0, 0, 0, 0.345) inset;
    /* filter: brightness(90%); */
}

.btn.btn-nav:hover {
    bottom: 38px;
    padding-bottom: 8px;
}

.btn.btn-nav:active {
    color: #9EC5FE;
}

.btn.btn-nav.selected {
    filter: none;
    box-shadow: none;
    z-index: 2;
    bottom: 38px;
    padding-bottom: 8px;
    cursor: default;
}

.popup {
    z-index: 9999;
}

#popup-marker {
    width: 15px;
    height: 15px;
    rotate: 45deg;
    top: -0.2rem;
}